.Hero-bilde img {
    width: 100vw;
}

p, h2, li, h1, button {
    font-family: 'Hepta Slab', serif, verdana;
}

/* .Hero-bilde h1 {
    position: relative;
    top: 210px;
    left: 100px;
    font-size: 3rem;
    font-weight: 400;
} */

.Hero-bilde {
    margin-bottom: -5px;
}

.latestPost {
    margin: auto;
    /* display: grid; */
    max-width: 1280px;
    background-color: white;
    padding: 30px;
    border: 0,1px solid black;
    border-radius: 2px;
    text-align: center;
}

.latestPost img {
    width: 247px;
    height: 166px;
    border: 1px solid black;
    border-radius: 2px;
    object-fit: cover;
    object-position: bottom;
    text-align: center;
}

.latestPost h2 {
    font-size: 2rem;
    text-align: center;
}

.latestPost button {
    padding: 15px 40px 15px 40px;
    background-color: #7fc673;
    border: none;
    border-radius: 3px;
    text-decoration: underline;
    font-size: 2rem;
}

.latestPost button:hover {
    background-color: rgba(127, 198, 115, 0.8);

}

#scroller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(127, 198, 115, 0.3);
    padding: 90px 0px 90px 0px;
    margin: 0;
    height: 500px;
}

#index-posts, #index-aboutus {
    margin: auto;
    background-color: rgba(127, 198, 115, 0.3);
    padding: 60px 50px 100px 50px;
    border-radius: 5px;
}

#index-posts img, #index-aboutus img {
    width: 383px;
    height: 260px;
    border: 1px solid black;
    border-radius: 2px;
}

#index-posts h2, #index-aboutus h2 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 400;

}

#index-posts button, #index-aboutus button {
    padding: 20px 85px 20px 85px;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 20px;
}

#index-posts button:hover, #index-aboutus button:hover {
    border: 1px solid black;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 1280px;
    text-align: center;
}

/*---------------------------------------------------tablet-------------------------------------------------*/

@media screen and (max-width: 1124px){
    
    .Hero-bilde h1 {
        position: absolute;
        top: 140px;
        left: 100px;
        font-size: 3rem;
        font-weight: 400;
    }

    .Hero-bilde {
        margin-top: 0px;
    }
    
    #index-posts, #index-aboutus {
        margin: auto;
        border-radius: 5px;
        background-color: white;
        padding: 0px;
        margin-bottom: 70px;
    }
    
    #index-posts img, #index-aboutus img {
        width: 80%;
        height: auto;
        border: 1px solid black;
        border-radius: 2px;
        text-align: center;
        margin: auto;
    }
    
    #index-posts h2, #index-aboutus h2 {
        font-size: 2.3rem;
        text-align: center;
        font-weight: 400;
    
    }
    
    #index-posts button, #index-aboutus button {
        padding: 20px 85px 20px 85px;
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
        border-radius: 3px;
        text-decoration: underline;
        font-size: 2rem;
        margin-top: 20px;
        border: 0.2px solid;
    }
    
    #index-posts button:hover, #index-aboutus button:hover {
        background-color: #e3e3e3;
        border: 0.2px solid;

    }
    
    
    
    .grid-container {
        display: grid;
        grid-template-columns: 80%;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 1280px;
        text-align: center;
        justify-content: center;
    }

    
    

}
/*-------------------------mobile-----------------------*/
@media screen and (max-width: 600px){
    .Hero-bilde h1 {
        font-size: 1.3rem;
        top: 140px;
        left: 55px;
    }

    .Hero-bilde{
        margin-top: 0px;
    }
}
